*{
    margin: 0;
    padding: 0;
}

.nav-list{
    margin-left: 100px;
    display: flex;
    list-style: none;
}

.nav-item{
    padding: 10px;
    margin-right: 30px;
}


header{
    background-color: #414141;
    color: #fff;
    border; 0;
}

.logo-holder{
    text-align: center;
    padding: 10px;
}


.hero-text-wrapper{
    background-color: #403E3F;
    border: 0;
    text-align: center;
    padding-bottom: 30px;
}


.box-1{
    background-color: #023531;
    border-top: 3px solid #36D5B4;
    height: 150px;

}

.box-2{
    background-color: #36D5B4;
    border-top: 3px solid #023531;
    height: 150px;
}

.our-services{
    text-align: center;
    margin-top: 30px;
    
}	

.sercice-det{
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 30px;
    
}

.our-pricing{
    text-align: center;
    margin-top: 30px; 
}



.last-row{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #023531;
    color: aliceblue;
    
}

table.table-bordered{
    border:1px solid fff;
    margin-top:20px;
  }

.table{
    text-align: center;
    font-style: bold;
    padding-bottom: 40px;
    
}
table.table-bordered > thead > tr > th{
    border:1px solid fff;
}
table.table-bordered > tbody > tr > td{
    border:1px solid fff;
}

table.table-bordered > tbody > tr{
    height: 40px;
}

.top-1{
    color:#fff;
    display: inline-block;
}
.top-2{
    color:#36D5B4;
    display: inline-block;
}

.s-1{
    color:#fff;
    font-size:10;
    padding-top: 40px;
    display: inline-block;
}

.s-2{
    color:#fff;
    
}

.s-3{
    color:#fff;
    padding-bottom: 40px;
    
}

.s-4{
    color:#36D5B4;
    display: inline-block;

}

.four-box1{
    color: #36D5B4;
}

.four-box2{
    color: white;
}

.b-1{
     background-color: #36D5B4;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}

.b-2{
    background-color: #1ad1ff;
    border: none;
    color: white;
    padding: 12px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}
.box{
    text-align: center;
    padding: 30px;
}

.td-1{
    background-color: #023531;
    color: white;
}

.td-3{
   background-color: #36D5B4;
   color: white;
}
.td-2{
    
}

.l-1{
    color:#fff;
    display: inline-block;
}

.l-2{
     color:#36D5B4;
    display: inline-block;
}

.headerr{
    padding-top: 20px;
    padding-bottom: 20px;
}

a:link {
    color: white;
    text-decoration:none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration:none;
}

/* mouse over link */
a:hover {
    color: #36D5B4;
    text-decoration:none;
}

/* selected link */
a:active {
    color: #36D5B4;
    text-decoration:none;
}

.b-1 a:hover {
    color: #023531;
    text-decoration:none;
}

.b-2 a:hover {
    color: #023531;
    text-decoration:none;
}
    